# See CONTRIBUING.md for context, instructions.

[requires]
python_version = "3.10"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argh = "~=0.26.2"
flask = "~=2.2.2"
frozen-flask = "~=0.18"
flask-flatpages = "~=0.8.1"
flask-markdown = "~=0.3"
flask-assets = "~=2.0"
pillow = "~=11.0"
