# See CONTRIBUTING.md for maintenance info.
-i https://pypi.org/simple
argh==0.15.1
click==7.0
flask-assets==0.12
flask-flatpages==0.6
flask-markdown==0.3
flask==0.12.3
frozen-flask==0.13
itsdangerous==1.1.0
jinja2==2.10.1
markdown==2.6.7
markupsafe==0.23
pillow==3.4.2
pyyaml==5.1
webassets==0.12.1
werkzeug==0.15.4
