Fabric==1.12.1
Flask==0.12.3
Flask-Assets==0.12
Flask-FlatPages==0.6
Flask-Markdown==0.3
Frozen-Flask==0.13
Jinja2==2.10.1
Markdown==2.6.7
Pillow==3.4.2
PyYAML==4.2b1
Werkzeug==0.11.11
argh==0.15.1
# pycrypto==2.6.1
webassets==0.12.0
click==6.6
ecdsa==0.13
itsdangerous==0.24
MarkupSafe==0.23
paramiko==2.0.9
pkg-resources==0.0.0
