# mate desktop - Add custom menu action to Caja file manager
# https://unix.stackexchange.com/questions/430705/add-custom-menu-action-to-caja-file-manager
# https://unix.stackexchange.com/a/430706
[Desktop Entry]
Type=Action
Tooltip=Export notebook to HTML via nbconvert (uvx)
Name=Notebook Export to HTML
Profiles=profile-zero;
Icon=xed

[X-Action-Profile profile-zero]
MimeTypes=application/x-ipynb+json;
Exec=bash -c '$HOME/projects/madmode-blog/dotfiles/bin/ipynb_to_html "$1" 2>>"$HOME/.xsession-errors"' _ %f
Name=Notebook Export to HTML
