{% extends "code/base.html" %}

{% block contents %}
<h2>Code | {{ year }}</h2>

<p>All posts published during {{ year}}.</p>

{% include "_list.html" %}

{% if years|length %}
    <p>
        &laquo; Back to <a href="{{ url_for("index") }}">MadMode</a>
        | Browse the archives
        {%- with current_year = year -%}
            {%- for year in years -%}
            {%- if current_year == year %}
              {%- for month in months -%}
              | <a href="{{ url_for("archives_year_month",
                                    year=year, month=month) }}"
  		   >{{ '%04d-%02d' % (year, month) }}</a>
            {%- endfor -%}
            {%- else %}
                | <a href="{{ url_for("archives_year", year=year) }}">{{ year }}</a>
            {%- endif -%}
        {%- endfor -%}
        {%- endwith -%}
    </p>
{% endif %}

{% endblock contents %}
