<!-- ack: zovision Jul 2010
http://stackoverflow.com/questions/3180779/html-tag-cloud-in-python
-->

<!-- todo? itemprop="blogPosts" and such microdata -->
<ul class='tag-cloud'>
{%- for tag, freq in tag_counts %}
  <li><a href="{{ url_for("search_tag", tag=tag) }}"
         class="freq-{{ freq }}">{{ tag }}</a></li>
{%- endfor %}
</ul>


<div class="diigo-tags"><div class="diigo-banner sidebar-title" style="font: bold 12px arial;margin-bottom:5px;"><a href="http://www.diigo.com"><img src="http://www.diigo.com/images/ii_blue.gif" width="16" height="16" alt="diigo"/></a> <a href="http://www.diigo.com/cloud/dckc-madmode">My Diigo Tags</a></div><script type="text/javascript" src="http://www.diigo.com/tools/tagrolls_script/dckc-madmode?sort=freq;icon;count=75;size=10-20;color=006666-000099;title=My%20Diigo%20Tags;name;showadd;v=3"></script></div>
