{% extends "base.html" %}

{% block page_title %}contact{% endblock %}
{% block section %}contact{% endblock %}

{% block contents %}
<h2>Contact</h2>

<p>As is traditional, I'll invite you to contact me by email
at <a href="mailto:dckc@madmode.com?subject=madmode+contact" >dckc@madmode.com</a>,
though I share many of
<a href="http://tantek.com/log/2008/02.html#d19t2359" >Tantek's
concerns about the scalability of email</a>,
<!-- TODO: gilmore excerpt from my WDN '09 keynote -->
 so consider these alternatives:</p>

<ul>
<li><a href="http://twitter.com/dckc">@dckc</a> on twitter</li>
<li><a href="http://www.linkedin.com/in/connollydan/">Dan Connolly on LinkedIn</a></li>
<li><a href="irc://irc.freenode.net/DanC,isnick"
rel="foaf-nick">DanC</a> on <a href="http://freenode.net/">FreeNode</a>,
especially in
the <a href="http://www.w3.org/2001/sw/interest/#swig_chan">#swig</a>
channel.</li>
</ul>

{% endblock contents %}
