{% extends "base.html" %}

{% block page_title %}contact{% endblock %}
{% block section %}contact{% endblock %}

{% block contents %}
<h2>Contact</h2>

<p>As is traditional, I'll invite you to contact me by email
at <a href="mailto:dckc@madmode.com?subject=madmode+contact" >dckc@madmode.com</a>,
though I share many of
<a href="http://tantek.com/log/2008/02.html#d19t2359" >Tantek's
concerns about the scalability of email</a>,
<!-- TODO: gilmore excerpt from my WDN '09 keynote -->
 so consider these alternatives:</p>

<ul>
  <li>
    <a href="https://www.codementor.io/dckc">dckc on codementor</a>
    for <strong>live 1-1 sessions</strong> on web development, data
    science, functional programming, computational complexity,
    or strategy and management. 100+ sessons; 30+ reviews.
  </li>
  <li>
    <a href="https://github.com/dckc" rel="me">dckc on github</a> Share and enjoy. Patches welcome!
  </li>
  <li>
    <a href="http://bitbucket.org/DanC" rel="me">
      DanC on bitbucket</a> for my projects that I haven't migrated to git. <em>sigh</em>
  </li>
  <li>
    <a href="irc://irc.freenode.net/DanC,isnick"
       rel="foaf-nick">DanC</a>
       on <a href="http://freenode.net/">FreeNode</a>, especially in
       the <a href="http://www.erights.org/">#erights</a>
       and <a href="http://www.w3.org/2001/sw/interest/#swig_chan">#swig</a>
    channels.
  </li>
  <li>
    <a href="https://21.co/madmode/">Dan Connolly on 21.co</a> to pay for a bit of my attention
  </li>
  <li><a href="http://twitter.com/dckc">@dckc</a> on twitter with 1000+ followers</li>
  <li><a href="https://www.linkedin.com/in/connollydan/">Dan Connolly
      on LinkedIn</a>: Consulting inquiries are welcome.
    <br /><small><strong>Note:</strong> my contacts consist of people
    I have <strong>already met</strong> or worked with in a
      professional capacity. Requests from others are ignored, if not
      flagged as spam.</small>
  </li>
</ul>

<p>See <a rel="me" href="https://keybase.io/dckc">dckc on keybase</a> for
digital signatures of many of these profiles.</p>
<!--
    hold off on putting my public key and bitcoin address here
    until I migrate this site to https.
  -->

{% endblock contents %}
