<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: CC0-1.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Polzap SMS Filter"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <service
            android:name=".services.SMSNotificationListener"
            android:label="Polzap Interceptor Core"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
