---
layout: layout.njk
title: Archives
---

<h1>Archives</h1>

{% set sorted_posts = collections.posts | reverse %}
{% set years = [2023, 2022, 2021, 2020] %}

{% for year in years %}
  <h2>{{ year }}</h2>
  <ul>
  {% for post in sorted_posts %}
    {% set post_year = post.date | date("yyyy") %}
    {% if post_year == year | string %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a> - {{ post.date | date("yyyy-MM-dd") }}
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
