---
layout: layout.njk
permalink: /search/label/
title: Tags
---

<h1>Tags</h1>

<div class="tag-cloud">
{% for tag in collections.tagList %}
  {% set tagUrl %}/search/label/{{ tag }}/{% endset %}
  {% set postsCount = collections[tag].length %}
  <a href="{{ tagUrl }}" class="tag-{{ postsCount }}">{{ tag }}</a>
{% endfor %}
</div>
