---
layout: layout.njk
permalink: /search/label/
title: Tags
---

<h1>Tags</h1>

<ul>
{% for tag in collections.tagList %}
  <li><a href="/search/label/{{ tag }}/">{{ tag }}</a></li>
{% endfor %}
</ul>
