	<config verbose="yes">

		<parent-provides>
			<service name="ROM"/>
			<service name="PD"/>
			<service name="RM"/>
			<service name="CPU"/>
			<service name="LOG"/>
			<service name="VM"/>
			<service name="Gui"/>
			<service name="Gpu"/>
			<service name="Timer"/>
			<service name="Rtc"/>
			<service name="Report"/>
			<service name="Block"/>
			<service name="File_system"/>
			<service name="Usb"/>
			<service name="Nic"/>
			<service name="Audio_out"/>
			<service name="Audio_in"/>
		</parent-provides>

		<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>

		<default caps="100"/>

		<start name="vbox" caps="7000">
			<binary name="virtualbox6" />
			<resource name="RAM" quantum="8G"/>
			<exit propagate="yes"/>
			<config vbox_file="machine.vbox6" xhci="yes" vm_name="linux" capslock="rom" ld_verbose="yes">
				<vfs>
					<dir name="dev">
						<log/> <rtc/> <null/> <gpu/> <zero/> <oss name="dsp"/>

   <block name="sda1" label="1" block_buffer_count="128"/>
   <block name="sda4" label="4" block_buffer_count="128"/>
   <block name="sda5" label="5" block_buffer_count="128"/>
   <block name="sda6" label="6" block_buffer_count="128"/>
					</dir>
					<dir name="pipe"> <pipe/> </dir>
					<dir name="shared"> <fs label="shared" writeable="yes"/> </dir>
					<rom name="VBoxSharedClipboard.so"/>
					<rom name="VBoxSharedFolders.so"/>
					<fs writeable="yes"/>
				</vfs>
				<libc stdout="/dev/log" stderr="/dev/log" rtc="/dev/rtc" pipe="/pipe">
					<pthread placement="single-cpu"/>
				</libc>
				<arg value="virtualbox"/>
				<env key="VBOX_USER_HOME" value="/"/>
				<env key="VBOX_LOG_DEST"          value="file=/dev/log"/>
				<env key="VBOX_LOG"               value=""/>
				<env key="VBOX_LOG_FLAGS"         value="thread"/>
				<env key="VBOX_RELEASE_LOG_DEST"  value="file=/dev/log"/>
				<env key="VBOX_RELEASE_LOG"       value=""/>
				<env key="VBOX_RELEASE_LOG_FLAGS" value="thread"/>
			</config>
